<header>
  <div class="wrap">
    <li id="menu_link">
      <i class="fas fa-bars"></i>
    </li>
    <div class="icon_link_tab">
      <div class="close_btn">
        <i class="fas fa-times"></i>
      </div>
      <%= link_to 'Home', '#' %>
      <%= link_to 'Signup', '#' %>
      <%= link_to 'Login', '#' %>
    </div>
  </div>

</header>